<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.22.5" targetFramework="net461" />
  <package id="AWSSDK.Kinesis" version="3.3.4" targetFramework="net461" />
  <package id="AWSSDK.S3" version="3.3.18.2" targetFramework="net461" />
  <package id="Common.Logging" version="3.3.1" targetFramework="net461" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net461" />
  <package id="CsvHelper" version="2.16.3.0" targetFramework="net461" />
  <package id="Eol.Cig.Etl.Kinesis.Producer" version="1.0.24" targetFramework="net461" />
  <package id="Etl.Shared" version="1.0.2" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="LumenWorks.Framework.IO" version="3.8.0" targetFramework="net461" />
  <package id="LumenWorksCsvReader" version="3.9.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="Quartz" version="2.5.0" targetFramework="net461" />
  <package id="StructureMap" version="4.4.4" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0" targetFramework="net461" />
  <package id="Topshelf" version="4.0.3" targetFramework="net461" />
  <package id="Topshelf.Log4Net" version="4.0.3" targetFramework="net461" />
  <package id="Topshelf.Quartz.StructureMap" version="0.6.0.0" targetFramework="net461" />
  <package id="Topshelf.StructureMap" version="0.4.0.0" targetFramework="net461" />
</packages>